@use "../../styles/mixins" as *;

.gear {
  padding: 1rem 2rem 4rem;

  @include tablet {
    padding: 1rem 5rem 5rem;
  }

  @include desktop {
    width: 5rem 10rem;
  }

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    @include desktop {
      padding: 5rem 7rem;
    }
   



    &--heading {
      font-weight: 300;
      font-size: 2rem;
      text-align: left;

      @include desktop {
        font-size: 3.5rem;
      }
    }
    &--copy {
      border: 1px solid red;
      @include desktop {
        width: 70%;
        font-size: 1.2rem;
      }
    }
  }

  &__image {
    background-image: url("../../images/mainImage.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30rem;

    @include tablet {
      height: 40rem;
    }
  }
  }



