// @use "../../styles/partials/mixins";

.gear {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/Pow.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    // &__skis {
    //     border: 1px solid black;
    //     width: 15rem;
    //     height: 15rem;
    //     position: relative;
    //     left: 17rem;
    //     top: 10rem;
    // }

    // &__helmet {
    //     border: 1px solid black;
    //     width: 10rem;
    //     height: 10rem;
    //     left: 35rem;
    //     top: -8rem;
    //     position: relative;
    //     cursor: pointer;
    // }

    // &__helmet:hover {
    //     transform: translate(5%);
    // }

    // &__goggles {

    // }

    // &__jacket {
    //     border: 1px solid black;
    //     width: 20rem;
    //     height: 15rem;
    //     position: relative;
    //     left: 30rem;
    //     cursor: pointer;
    // }
}