.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    

    &__heading {
        line-height: 1;
        cursor: pointer;
        font-size: 3rem;
        color: #98E4FF;
    }

    &__links {
        text-decoration: none;

    }
}

.nav {
    width: 50%;


    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        list-style-type: none;      
        text-decoration: none;
    }

    &__item {
        text-decoration: none;
        font-size: 1.5rem;
        cursor: pointer;
        text-decoration: none;
        color: #98E4FF;
    }

    &__insta {
        width: 3rem;
        height: 3rem;
        background-image: url("../../icons/instagram.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__fb {
        width: 3rem;
        height: 3rem;
        background-image: url("../../icons/facebook.png");
        background-size: contain;
    }
}



    
