@use "../../styles/mixins" as *;

.home {
    background-image: url("../../images/race.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 0;

    @include tablet {
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2); 
    pointer-events: none;
}