@use "../../styles/mixins" as *;

.media {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__heading {
    }

    &__container {
        width: 80%;
        height: 60vh;
        border: 1px solid black;
        
    }

}