@use "../../styles/mixins" as *;

.media {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    // justify-content: center;
    padding: 1rem;

    &__img {
        width: 20rem;
        height: auto;
        aspect-ratio: 1/1;
        display: flex;
        
    }

    &__img0 {
        flex-grow: 6;
    }

    &__img1 {
        flex-grow: 2;
    }

    &__img2 {
        flex-grow: 6;
    }

    &__img3 {
        flex-grow: 1;
    }

    &__img4 {
        flex-grow: 1;
    }

    &__img5 {
        flex-grow: 10;
    }

    &__img6 {
        flex-grow: 1;
    }

    &__img7 {
        flex-grow: 10;
    }

    &__img8 {
        flex-grow: 1;
    }

    &__img9 {
        flex-grow: 2;
    }



}

